<div class="student">
    <div class="profile">
        @if(studentData().image_url === null) {
            <img src="images/user.png" alt="">
        } @else {
            <img [src]="studentData().image_url" alt="">
        }
        
        <div class="details">
            <span class="names">{{ studentData().first_name }} {{ studentData().last_name }}</span>
            <span class="email">{{ studentData().email }}</span>
        </div>
    </div>
    <span class="date"><ion-icon name="calendar-outline"></ion-icon>{{ studentData().date }}</span>
    <span class="grade">{{ studentData().grade }}</span>
    <span class="status">{{ studentData().status }}  </span>
    <div class="buttons">
        <a class="btn"><ion-icon name="pencil-outline"></ion-icon>Edit</a>
        <a class="btn"><ion-icon name="trash-outline"></ion-icon>Delete</a>
    </div>
</div>
