<div class="student">
    <div class="profile">
        <img src="images/user.png" alt="">
        <div class="details">
            <span class="names">Bhuti Mkhwanazi</span>
            <span class="email">bhutimkhwanazi&#64;gmail.com</span>
        </div>
    </div>
    <span class="date"><ion-icon name="calendar-outline"></ion-icon>12/09/2026</span>
    <span class="grade">50%</span>
    <span class="status">Active</span>
    <div class="buttons">
        <a class="btn"><ion-icon name="pencil-outline"></ion-icon>Edit</a>
        <a class="btn"><ion-icon name="trash-outline"></ion-icon>Delete</a>
    </div>
</div>
