<div class="container">
    <div class="header">
        <h2>Students enrolled for this course</h2>
        <a class="btn" routerLink="add">
            <ion-icon name="person-add-outline"></ion-icon>
            <span>Add Student</span>
        </a>
    </div>
    <div class="main">
        <div class="header">
            <span>Information</span>
            <span>Date enrolled</span>
            <span>Grade</span>
            <span>Status</span>
            <span>Actions</span>
        </div>
        <div class="students">
            @if(isLoading()) {
                <div class="skeleton-container">
                    <div class="skeleton skeleton-full"></div>
                    <div class="skeleton skeleton-70"></div>
                    <div class="skeleton skeleton-35"></div>
                </div>
            } @else {
                @if(studentsData().students.length === 0 && errorMessage().length > 0) {
                    <p class="text">{{ errorMessage() }}</p>
                } @else {
                    @for(student of studentsData().students; track student.id) {
                        <app-student [studentData]="student"/>
                    }
                }
            }
        </div>
    </div>
</div>
<router-outlet />