<div class="container">
    <div class="header">
        <h2>Students enrolled for this course</h2>
        <a class="btn">
            <ion-icon name="person-add-outline"></ion-icon>
            <span>Add Student</span>
        </a>
    </div>
    <div class="main">
        <div class="header">
            <span>Information</span>
            <span>Date enrolled</span>
            <span>Grade</span>
            <span>Status</span>
            <span>Actions</span>
        </div>
        <div class="students">
            <app-student />
            <app-student />
        </div>
    </div>
</div>