<div class="course skeleton-card">
  <h3 class="skeleton-box short"></h3>

  <div class="container">
    <div class="line skeleton-box"></div>
    <div class="content">
      <h2 class="skeleton-box medium"></h2>
      <p class="skeleton-box long"></p>
      <p class="skeleton-box long"></p>
    </div>
  </div>

  <div class="bottom">
    <div class="lecturer">
      <div class="skeleton-avatar"></div>
      <span class="skeleton-box name"></span>
    </div>
    <div class="icon skeleton-circle"></div>
  </div>
</div>