<div class="lecturer">
    <div class="profile">
        @if(lecturer().image_url === null) {
            <img src="images/user.png" alt="">
        } @else {
            <img [src]="lecturer().image_url" alt="">
        }
        <div class="information">
            <p class="names">{{ lecturer().first_name }} {{ lecturer().last_name }}</p>
            <span class="email">{{ lecturer().email }}</span>
        </div>
    </div>
    <div class="faculty">
        <div class="dot"></div>
        @if(lecturer().code === null) {
            <span>N/A</span>
        } @else {
            <span>{{ lecturer().code }}</span>
        }
        
    </div>
    <div class="date">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>{{ lecturer().created_at.split("T")[0] }}</span>
    </div>
    <div class="action" (click)="toggleDropDown()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
        @if(isShowDropDown()) {
            <div class="dropdown">
                <div class="backdrop"></div>
                <div class="menu">
                    <div class="option">
                        <ion-icon name="create-outline"></ion-icon>
                        <span>Edit</span>
                    </div>
                    <div class="option">
                        <ion-icon name="trash-outline"></ion-icon>
                        <span>Delete</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
