<div class="lecturer">
    <div class="profile">
        <img src="images/user.png" alt="">
        <div class="information">
            <p class="names">Boitumelo Mkhwanazi</p>
            <span class="email">b_mkwanazi&#64;gmail.com</span>
        </div>
    </div>
    <div class="faculty">
        <div class="dot"></div>
        <span>FNAS</span>
    </div>
    <div class="date">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>09-28-2025</span>
    </div>
    <div class="action">
        <ion-icon name="ellipsis-vertical"></ion-icon>
    </div>
</div>
