<div class="review">
    <div class="header">
        <h3>B. Mkhwanazi</h3>
        <img src="images/user.png" alt="">
    </div>
    <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
    </div>
    <p>The module was well-structured and the concepts were explained clearly. I especially liked the practical examples, which made it easier to understand the theory. However, I think more interactive activities </p>
    <div class="bottom">
        <span>10/09/2025</span>
        <div class="dots"><ion-icon name="ellipsis-vertical-outline"></ion-icon></div>
    </div>
</div>
