<div class="review">
    <div class="header">
        <h3>{{ reviewData().first_name.charAt(0) }}. {{ reviewData().last_name }}</h3>
        @if(reviewData().image_url === null) {
            <img src="images/user.png" alt="">
        }@else {
            <img [src]="reviewData().image_url" alt="">
        }
    </div>
    <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
    </div>
    <p class="truncate-multiline">{{ reviewData().comment }}</p>
    <div class="bottom">
        <span>{{ reviewData().created_at.split("T")[0] }}</span>
        <div class="dots"><ion-icon name="ellipsis-vertical-outline"></ion-icon></div>
    </div>
</div>
