h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1rem;
}

.container .reviews {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.container .reviews.active {
    display: block;
}

.error {
    text-align: center;
    color: red;
}