<div class="backdrop" (click)="navigate()"></div>
<dialog open>
  <h2>Change Password</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <label for="">Old Password</label>
        <p class="field">
            <input [type]="showPassword() ? 'text' : 'password'" placeholder="Enter your password here" formControlName="old_password">
            @if(showPassword()) {
                <ion-icon name="eye-outline" (click)="togglePassword()"></ion-icon>
            } @else {
                <ion-icon name="eye-off-outline" (click)="togglePassword()"></ion-icon>
            }
        </p>
    </div>

    <div class="row">
        <label for="">New Password</label>
        <p class="field">
            <input [type]="showPassword() ? 'text' : 'password'" placeholder="Enter your password here" formControlName="new_password">
            @if(showPassword()) {
                <ion-icon name="eye-outline" (click)="togglePassword()"></ion-icon>
            } @else {
                <ion-icon name="eye-off-outline" (click)="togglePassword()"></ion-icon>
            }
        </p>
    </div>

    <div class="row">
        <label for="">Confirm new Password</label>
        <p class="field">
            <input [type]="showPassword() ? 'text' : 'password'" placeholder="Enter your password here" formControlName="confirm_new_password">
            @if(showPassword()) {
                <ion-icon name="eye-outline" (click)="togglePassword()"></ion-icon>
            } @else {
                <ion-icon name="eye-off-outline" (click)="togglePassword()"></ion-icon>
            }
        </p>
    </div>

    <button type="submit" class="btn" [disabled]="isLoading()">
        Change Password
        @if(isLoading()) {
            <span class="spinner"></span>
        }
    </button>
  </form>
</dialog>