<router-outlet />
<section>
    <div class="header">
        <div class="left">
            <h2>Lecturers</h2>
            <p>View and manage lecturers</p>
        </div>
        <a routerLink="add" class="btn">
            <ion-icon name="person-add-outline"></ion-icon>
            <span>Add Lecturer</span>
        </a>
    </div>
    <div class="main">
        <div class="header">
            <div class="left">
                <div class="user">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <p>Total Lecturers: <span>{{ lecturersData().totalLecturers }}</span></p>
            </div>
            <div class="right">
                <div class="search_bar">
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" placeholder="Search name" [(ngModel)]="searchQuery">
                </div>
                <div class="btn">
                    <ion-icon name="funnel-outline"></ion-icon>
                    <span>Sort</span>
                </div>
            </div>
        </div>

        <div class="table_header">
            <span>Name</span>
            <span>Faculty</span>
            <span>Joining Date</span>
            <span>Action</span>
        </div>
        <div class="table_entries">
            <div class="table_entry">
                @if(isLoading()) {
                    <div class="skeleton-container">
                        <div class="skeleton skeleton-full"></div>
                        <div class="skeleton skeleton-70"></div>
                        <div class="skeleton skeleton-35"></div>
                    </div>
                } @else { 
                    @if(lecturersData().lecturers.length === 0) {
                        <p>Loading</p>
                    } @else {
                        @for(lecturer of lecturersData().lecturers; track lecturer.email) {
                            <app-lecturer [lecturer]="lecturer"/>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>
