<section>
    <aside>
        <div class="header">
            <ion-icon name="logo-electron"></ion-icon>
            <h2>E-Learning</h2>
        </div>
        <div class="links">
            <div class="row">
                <p class="title">Community</p>
                <a routerLink="">
                    <ion-icon name="people-outline"></ion-icon>
                    <span>Lecturers</span>
                </a>
            </div>
            <div class="row">
                <p class="title">Preferences</p>
                <a routerLink="">
                    <ion-icon name="settings-outline"></ion-icon>
                    <span>Settings</span>
                </a>
            </div>
        </div>
        <div class="bottom">
            <img src="images/user.png" alt="">
            <div class="user">
                <p>Boitumelo</p>
                <span>Admin</span>
            </div>
        </div>
    </aside>
    <main>
        <div></div>
        <router-outlet />
    </main>
</section>