<router-outlet />
<section>
    <div class="header">
        <div class="left">
            <h2>Courses</h2>
            <p>View and manage courses from here</p>
        </div>
        <a routerLink="add" class="btn">
            <ion-icon name="person-add-outline"></ion-icon>
            <span>Add Course</span>
        </a>
    </div>
    <div class="main">
        @if(isLoading()) {
            <app-course-skeleton />
            <app-course-skeleton />
            <app-course-skeleton />
        } @else {
            @if(coursesData().courses.length === 0) {
                <p>No courses found</p>
            } @else {
                @for(course of coursesData().courses; track course.name) {
                    <app-course [course]="course" />
                }
            }
        }
    </div>
</section>